extends includes/layout
block content
  .container
    table
      thead
        tr
          th ID
          th Name
          th Email
          th Protected File
          th Public File
      tbody
        form(action='/contacts')
          fieldset
            input(type='text' name='search' placeholder='Search..' id='search' value=search)
        each contact in contacts
          tr
            td #{contact.vid}
            td #{contact.name}
            td #{contact.email}
            td
              if (contact.protectedLink)
                a(href=contact.protectedLink target='blank') File
            td
              if (contact.publicLink)
                a(href=contact.publicLink target='blank') File
